[submodule "src/f1tenth_planning_custom_msgs"]
	path = src/f1tenth_planning_custom_msgs
	url = https://github.com/thejourneyofbabo/f1tenth_planning_custom_msgs.git
[submodule "src/f1tenth_gym_ros"]
	path = src/f1tenth_gym_ros
	url = https://github.com/thejourneyofbabo/f1tenth_gym_ros.git
[submodule "src/lattice_path_follower_f1tenth"]
	path = src/lattice_path_follower_f1tenth
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/lattice_path_follower_f1tenth.git
[submodule "src/lattice_planner_f1tenth"]
	path = src/lattice_planner_f1tenth
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/lattice_planner_f1tenth.git
[submodule "src/particle_filter_cpp"]
	path = src/particle_filter_cpp
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/particle_filter_cpp.git
[submodule "src/f1tenth_base_setup"]
	path = src/f1tenth_base_setup
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/f1tenth_base_setup.git
[submodule "src/basecode_follow_the_gap"]
	path = src/basecode_follow_the_gap
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/basecode_follow_the_gap.git
